*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml
\.idea/
target/

scratch
#/src/main/resources/spring/app.properties
#emacs auto-save
**/*~
debug.log
test-debug.log
**/my-test.properties
*chm
tda_json/java_out
tda_json/json_source
tda_json/help.txt



/README_personal.md
/out.txt
